@import 'fonts.css';
@import 'all.css';

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Raleway';
}
:root{
  --green: #69cf17;
  --green-75: rgba(106, 207, 23, 0.75);
  --green-90: rgba(106, 207, 23, 0.90);
  --logo-border: #62be19;
  --logo-bg: #4e9f0d;
  --dark: #060002;
  --dark-15: rgba(30, 30, 30, 0.15);
  --gray: #dedede;
  --gray-dark: #7a7a7a;
  --white: #ffffff;
  --border-item: #4b4b4b;
  /* border */
 /*  --border-red: 1px solid red;
  --border-orange: 1px solid orangered; */
}
/* container */
.container{
  max-width: 1140px;
  min-height: 40px;
  margin: 0 auto;
  padding: 0 15px;
  border: var(--border-red);
}
/* header */
.header{
  width: 100%;
  min-height: 100vh;
  background: url('../images/bg_header.jpg') no-repeat center top / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* navbar */
.navbar{
  width: 100%;
  min-height: 50px;
  border: var(--border-orange);
  position: absolute;
  z-index: 999;
  top: 0;
}
.navbar-flex,
.footer__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo,
.footer__menu--logo{
  padding: 11px 22px;
  display: flex;
  line-height: 17px;
  background: var(--logo-bg);
  border: 3px solid var(--logo-border);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  box-shadow: inset 4px 4px 5px 0 var(--dark-15);
  margin: 15px 0;
}
.navbar__list{
  display: flex;
}
.navbar__list a{
  padding: 37px 10px 29px 10px;
  line-height: 24px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  color: var(--green);
}
.navbar__list span{
  width: 24px;
  height: 24px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 6px;
}
.navbar__list a:hover{
  color: var(--white);
  background: var(--green-75);
}
.navbar__list a:hover span{
  color: var(--green);
}
.navbar__btn{
  padding: 15px 10px;
  display: none;
  background: var(--logo-bg);
  border: 3px solid var(--logo-border);
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
  outline: none;
}
.navbar__btn span{
  width: 30px;
  height: 3px;
  background: var(--white);
  display: flex;
  position: relative;
}
.navbar__btn span::before,
.navbar__btn span::after{
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  background: var(--white);
  left: 0;
}
.navbar__btn span::before{
  top: 7px;
}
.navbar__btn span::after{
  bottom: 7px;
}
/* header__text */
.header__text{
  flex-grow: 1;
}

.header__text h1 {
  font-size: 72px;
  font-weight: 900;
  color: var(--green);
  text-transform: uppercase;
}

.header__text h5 {
  font-size: 36px;
  font-weight: 400;
  color: var(--green);
  margin-bottom: 20px;
}

.header__text p {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
  line-height: 22px;
  margin-bottom: 60px;
}

.header__text span {
  padding: 28px 90px 37px 90px;
  display: inline-flex;
  background: var(--green-75);
  color: var(--white);
  font-size: 60px;
  line-height: 36px;
  font-weight: 100;
  /* width: max-content; */
}

.content,
 .footer__menu,
 .footer__list,
 .footer__text {
  width: 100%;
  background: var(--dark);
}
.menu,
.content__info {
  width: 100%;
  min-height: 560px;
}

.content__info {
  background: url('../images/section_bg.jpg') no-repeat center top / cover;
}

.menu__list {
  width: 100%;
  display: flex;
  padding: 26px 0;
  border: var(--border-orange);
  flex-wrap: wrap;
}

.menu__list a {
  padding: 23px 48px 23px 0px;
  font-size: 20px;
  color: var(--gray-dark);
  line-height: 15px;
  font-weight: 700;
}

.menu__list a:hover {
  color: var(--green);
}

/* menu__items */

.menu__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 70px;
}

/* item */
.item {
  width: 31.5%;
  min-height: 400px;
  padding: 25px 0;
}

.item__pic {
  width: 100%;
  position: relative;
  border: 1px solid var(--border-item);
  overflow: hidden;
}

.item__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__pic a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  font-weight: 700;
  color: var(--white);
  transition: box-shadow 0.5s,font-size 0.2s;
}
.item:hover .item__pic a {
  box-shadow: inset 0 0 0 300px var(--green-90);
  font-size: 24px;
}

.item__pic span {
  padding: 22px 58px 24px;
  line-height: 14px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--green-90);
  font-size: 24px;
  font-weight: 400;
  color: var(--gray);
  transition: transform 0.3s;
}

.item:hover .item__pic span {
  transform: translateY(103%);
}

.item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  margin: 37px 0 15px;
  color: var(--green);
  text-transform: uppercase;
}

.item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* content__info */

.content__info h2,
.filials h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--green);
  line-height: 36px;
  padding: 45px 0 25px;
  margin-bottom: 45px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content__info h2::before {
  width: 200px;
  height: 2px;
  background: var(--green);
  content: '';
  position: absolute;
  bottom: 0;
}

.content__info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  margin-bottom: 25px;
}

/* filials */

.filials {
  width: 100%;
  background: var(--white);
}

.filials h2 {
  padding-bottom: 0;
}
.filials__map {
  width: 100%;
  height: 500px;
  background: var(--gray);
}

.filials__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}



/* icons */
.fa-burger-soda:hover{
  color: #FF0000;
}
.fa-book:hover {
  color: #FFFF00;
}
.fa-address-book:hover{
  color: #0000FF;
}
.fa-instagram:hover{
  color: #FF00FF;
}
.fa-facebook-f:hover{
  color: #0000FF;
}
.fa-telegram-plane:hover{
  color:#1E90FF;
}

/* footer */
footer {
  width: 100%;
  min-height: 100px;
  background: var(--dark);
}

.footer__menu{
  padding: 25px 0;
}

.footer__menu--phone {
  font-size: 24px;
  font-family: 'Roboto';
  color: var(--logo-bg);
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__list a {
  padding: 10px;
  margin: 0 15px;
  color: var(--white);
  font-size: 25px;
}

.footer__text p{
  font-size: 16px;
  font-weight: 100;
  color: var(--white);
  padding: 30px 50px;
  text-align: center;
}











 


/* media */

@media (max-width: 1200px) {}
@media (max-width: 992px)  {
  .item {
    width: 48.7%;
  }
}
@media (max-width: 768px)  {
    .navbar__list {
        display: none;
    }
    .navbar__btn {
        display: flex ;
    }
    .navbar {
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
    }
    .header__text {
      text-align: center;
      margin-top: 2%;
    }
}
@media (max-width: 576px)  {
  .header__text h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .header__text span {
    font-size: 30px;
    padding: 10px 40px 15px 40px;
  }
  .header__text p {
    margin-bottom: 10px;
  }
  .menu__list {
    justify-content: center;
  }
  .menu__list a {
    padding: 23px 24px;
  }
  .item {
    width: 70%;
  }
  .menu__items {
    justify-content: center;
  }
}
@media (max-width: 480px)  {
  .header__text h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .header__text h5 {
    font-size: 25px;
  }
  /* .header {
    align-items: flex-end;
  } */
  .header__text span {
    font-size: 20px;
    padding: 8px 30px 10px 30px;
  }
  .item {
    width: 100%;
  }
  /* footer */
  .footer__list a {
    margin: 0;
  }
  .footer__menu {
    flex-direction: column-reverse;
  }
}
@media (max-width: 320px)  {

}